services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
      target: prod
    container_name: <project-name>
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - docker_network

networks:
  docker_network:
