services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dev
    container_name: <project-name>
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ..:/app
      - /app/node_modules
    command: npm run start:dev
    networks:
      - docker_network

networks:
  docker_network:
